svg {
  width: 200px;
  height: 200px;
  background: black;
}
.arrow rect {
  animation: arrow-rect 1s ease-in infinite;
}
@keyframes arrow-rect {
  50% {
    width: 88px;
  }
}
.arrow path {
  animation: arrow-path 1s ease-in infinite;
}
@keyframes arrow-path {
  50% {
    transform: translateX(26px);
  }
}
.menu {
  animation: menu 2s ease-in infinite;
}
.menu2 {
  opacity: 0.8;
  animation: menu2 1s ease-in infinite;
}
.menu3 {
  animation: menu3 1s ease-in infinite;
  opacity: 0.4;
}
@keyframes menu {
  50% {
    width: 145px;
    transform: translateX(18px);
  }
}
@keyframes menu2 {
  50% {
    transform: translateX(81px);
  }
}
@keyframes menu3 {
  50% {
    transform: translateX(41px);
  }
}
